/* Default Dark Mode */
html, body, #root {
  height: 100%;
  background-color: #000 !important;
  color: #F0ECE5;
}


/* Light Mode */
html.light {
  background-color: #ffffff; /* light background */
  color: #24292f; /* dark text */
}

/* Subtext in Light Mode */
html.light .subtext {
  color: #555555; /* softer gray for secondary text */
}
